<h1>Bagel Creator</h1>

<%= form_for @order do |f| %>

	<div class="field form-group">
		<%= f.label :variety %>
		<%= f.text_field :variety %>
	</div>

	<div class="field form-group">
		<%= f.label :open %>
		<%= f.check_box :open %>
	</div>

	<div class="actions form-group">
		<%= f.submit %>
	</div>

<% end %>

